@model CheeseMVC.ViewModels.AddMenuItemViewModel
@{
    ViewBag.Title = "Add Item to Menu: " + Model.Menu.Name;
}
<h1>Add Item to Menu: @Model.Menu.Name</h1>

<form asp-controller="Menu" asp-action="AddItem" method="post">

    <div class="form-group">
        <label asp-for="cheeseID"></label>
        <select class="form-control" asp-for="cheeseID" asp-items="Model.Cheeses"></select>
        <span asp-validation-for="cheeseID"></span>
    </div>

    <input type="hidden" name="MenuID" value="@Model.Menu.ID" />
    <input class="btn btn-default" type="submit" value="Add Menu Item" />

</form>